<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
           <div class="card shadow-lg p-3">
               <div class="card-title text-center font-weight-bold display-5">Add Product</div>
               <div class="card-body">
                   <form [formGroup]="ProductForm" style="border: none;">
                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-10 col-sm-10">
                         <div class="form-group">
                             <label for="name" class="form-label">Name</label>
                             <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Product Name..." class="form-control" id="name">
                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                <div *ngIf="f.name.errors.required">Product name is required</div>
                            </div>
                            </div>
                        </div>
                    </div>
                       <div class="row mt-3 justify-content-center">
                           <div class="col-md-10 col-sm-10">
                              <div class="form-group">
                                  <label for="price" class="form-label">
                                      Price
                                  </label>
                                  <input type="text" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }"  placeholder="Price...." class="form-control w-100" id="price">
                                  <div class="invalid-feedback" *ngIf="submitted && f.price.errors">
                                      <div *ngIf="f.price.errors.required">Price is required</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                       <div class="row mt-3 justify-content-center">
                        <div class="col-md-10 col-sm-10">
                           <div class="form-group">
                               <label for="desc"  class="form-label">
                                   Description
                               </label>
                               <textarea type="text" formControlName="desc"  [ngClass]="{ 'is-invalid': submitted && f.desc.errors}"  placeholder="description..." class="form-control w-100" id="desc" rows="3"></textarea>
                               <div class="invalid-feedback" *ngIf="submitted && f.desc.errors">
                                   <div *ngIf="f.desc.errors.required">Product description is required</div>

                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-3 col-sm-10">
                            <button class="btn btn-success" (click)="submit()">Add</button>
                        </div>
 
                        <!-- <div class="col-md-6">
                           <span class="d-inline-flex p-2 bd-highlight"><p class="lead">Already have an account? </p>&nbsp;<a class="text-decoration-none text-info mt-1" routerLink="/">Login</a></span>

                        </div> -->
                    </div>
                    
                   </form>
               </div>
           </div>
        </div>
    </div>
</div>
