<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8" *ngFor="let cart of Cart;">
            <div class="card shadow-lg p-3 mb-2">
                <div class="card-header bg bg-primary  text-center">
                    <h5 class="card-title text-center text-white font-weight-bold">Product Name : {{cart.name}}</h5>
                </div>
                <div class="card-body">
                    
                    <ul class="list-group list-group-flush">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center font-weight-bold fs-5">Price:{{cart.price}}</li>
                            

                          </ul>
                   
                      </ul>
                      <span class="d-inline-flex"><button class="btn btn-info  btn-xs" style="border-radius: 20px;" (click)="increaseValue();total(input.value);"><i class="fa fa-plus"></i></button><input type="number" id="number" value="0" #input  class="form-control w-25"><button class="btn btn-info btn-xs " style="border-radius: 20px;" (click)="decreaseValue();less(input.value);"><i class="fa fa-minus"></i></button>
                      </span>
                    <div class="card-text">{{cart.description}}</div>
                    
                </div>
                <div class="card-footer text-center">
  <button class="btn btn-danger" (click)="delete(cart.id)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg p-3 mb-2">
                <div class="card-header bg  bg-primary text-center">
                    <h5 class="card-title text-center text-white">Price</h5>
                </div>
                <div class="card-body">
                   
                    <div class="row mt-2 justify-content-center">
                       <div class="col-md-5">
                           <h5 class="text-dark">Price</h5>
                       </div>
                       <div class="col-md-5">
                           <h5 class="text-dark">{{TotalPrice}}₹</h5>
                       </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-5">
                            <h5 class="text-dark">Qty</h5>
                        </div>
                        <div class="col-md-5">
                            <h5 class="text-dark">{{Cart.length}}</h5>
                        </div>
                     </div>
                    <hr style="border:2px solid grey ;">
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-5">
                          <h5 class="text-dark">Total Price</h5>
                        </div>
                        <div class="col-md-5">
                            <h5 class="text-dark">{{TotalPrice}}₹</h5>
                          </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>