.row{
    margin-top: 200px;
}
.card{
    border-radius: 12px;
}
.ng-valid.ng-dirty:not(LoginForm) {
    border: solid 2px lightgreen;
  }
 
  .ng-invalid.ng-dirty:not(LoginForm).form-submitted {
    border: solid 2px lightcoral;
  }
  form{
      border:none
  }